body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    background: purple;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

#output {
    margin-top: 20px;
    white-space: pre-wrap;
    background: #fff3cd;
    padding: 15px;
    border-radius: 8px;
  }
